body {
    padding: 20px;
    font-family: sans-serif;
}

li:hover {
    color:#525ccb;
}

.clear-button {
    margin-bottom: 8px;
}

.title-list {
    background-color: rgb(188, 189, 192);
    width: 221px;
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

.title-list-item {
    display: block;
    padding: 4px;
    position: relative;
    background-color: rgb(153, 203, 82);
}

.title-list-item + .title-list-item {
    margin-top: 4px;
}

.title-list-item-label {
    display: block;
    padding-right: 37px;
}

.title-list-item-delete {
    position: absolute;
    font-size: large;
    top: 0;
    right: 0;
    background-color: #c152cb;
    display: block;
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 15px;
}

input {
    margin-bottom: 10px;
}
